<!DOCTYPE html>
<head>
    <meta name=""viewport" content="width=device-width">
    <link rel="stylesheet" href="../style/stylesheet.css">
    <title>War | Card-Game</title>
</head>

<body>
    <header>
        <h1 class="title">War-Card Game</h1>
    </header>
    <main>
       <div class="description-wrap">
            <h2 class="description-title">Description:</h3>
            <h3>Goal:</h3> 
            <p>The goal is to be the first player to win all 52 cards.</p>
            <h3 class>The Deal:</h3>
            <p>
                The deck is divided evenly with each player recieving 26 cards, dealt one at a time, face down. Anyone may deal first.
                Each player, places their stack of cards face down, in front of them.
            </p>
            <h3>The Player:</h3>
            <p>Each player turns up a card at the same time and the player with the higher card takes both cards and puts them face down,
                on the bottom of his stack.

                if the cards the same rank. it is War.  Each player turns up one card face down and one card face up. The player
                with the higher cards takes both piles (six cards). if the turned-up cards are again the same rank, each player 
                places another card face down and turns another card face up. The player with the higher card take all 10 cards, and
                so on.
            </p>
            <h3>How to Keep Score:</h3>
            <p>The game ends when one player has won all the cards.</p>
        </div>
        <div class="game-frame">
            <h3>War</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
            et dolore magna aliqua. Feugiat nibh sed pulvinar proin gravida hendrerit. Erat nam at lectus urna duis 
            convallis. Tortor at auctor urna nunc. Orci a scelerisque purus semper eget duis at. Erat velit scelerisque 
            in dictum non. Sed elementum tempus egestas sed sed. Cursus vitae congue mauris rhoncus aenean vel elit 
            scelerisque mauris. Id ornare arcu odio ut sem nulla pharetra diam sit. Velit euismod in pellentesque 
            

            massa placerat duis. Ut eu sem integer vitae justo eget magna fermentum. Dui faucibus in ornare quam. 
            Lectus sit amet est placerat in egestas erat imperdiet sed. Feugiat nisl pretium fusce id velit ut tortor 
            pretium. Donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum.

            Aliquam sem fringilla ut morbi tincidunt. Netus et malesuada fames ac turpis. Pellentesque adipiscing 
            commodo elit at imperdiet dui accumsan. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Neque 
            aliquam vestibulum morbi blandit. Lobortis feugiat vivamus at augue eget arcu. Posuere urna nec tincidunt 
            praesent semper feugiat. Sed vulputate odio ut enim blandit volutpat maecenas. Amet massa vitae tortor 
            condimentum lacinia quis. Vulputate enim nulla aliquet porttitor lacus luctus. Lacus sed viverra tellus in 
            hac habitasse platea dictumst vestibulum. Dis parturient montes nascetur ridiculus mus. Adipiscing elit ut
             aliquam purus sit amet luctus venenatis.
            
            Adipiscing commodo elit at imperdiet dui. Cursus eget nunc scelerisque viverra mauris in aliquam. Duis
             tristique sollicitudin nibh sit. Semper feugiat nibh sed pulvinar proin gravida. Tristique nulla aliquet 
             enim tortor at auctor urna. Sit amet justo donec enim diam vulputate ut. Urna nunc id cursus metus aliquam 
             eleifend mi. Facilisis sed odio morbi quis. Lacus luctus accumsan tortor posuere ac ut consequat semper 
             viverra. Orci dapibus ultrices in iaculis nunc sed augue lacus viverra. Neque viverra justo nec ultrices 
             dui sapien eget mi proin. Rhoncus urna neque viverra justo nec ultrices dui sapien. Malesuada fames ac 
             turpis egestas maecenas pharetra convallis posuere. Suspendisse faucibus interdum posuere lorem ipsum 
             dolor sit. Dignissim convallis aenean et tortor at risus viverra adipiscing. Tellus pellentesque eu 
             tincidunt tortor. In mollis nunc sed id.
            
            Diam quam nulla porttitor massa id neque. At consectetur lorem donec massa sapien faucibus et molestie 
            ac. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Dignissim convallis aenean et tortor 
            at. Facilisis magna etiam tempor orci eu lobortis elementum. Duis at tellus at urna condimentum. Quisque 
            id diam vel quam elementum pulvinar etiam. Justo laoreet sit amet cursus sit. Arcu non sodales neque sodales. 
            Faucibus in ornare quam viverra. Eget arcu dictum varius duis at consectetur lorem donec massa. Sit amet 
            aliquam id diam maecenas ultricies mi eget. Nec feugiat nisl pretium fusce id velit ut tortor. Dui sapien 
            eget mi proin sed libero enim. Et ultrices neque ornare aenean euismod. Etiam erat velit scelerisque in 
            dictum non consectetur a erat. Non nisi est sit amet facilisis magna etiam tempor orci. Tristique senectus 
            et netus et malesuada fames.
            
            Eget velit aliquet sagittis id consectetur purus. Ultricies integer quis auctor elit sed vulputate mi s
            it amet. Proin nibh nisl condimentum id venenatis a condimentum. Rhoncus dolor purus non enim praesent 
            elementum facilisis leo. Libero justo laoreet sit amet cursus sit amet. Egestas erat imperdiet sed euismod. 
            Tellus elementum sagittis vitae et leo duis ut. Sapien faucibus et molestie ac. Lacus laoreet non curabitur 
            gravida arcu. Massa id neque aliquam vestibulum morbi blandit.
        </p>
    </main>
</body>